
[submodule "hw/ibex_pext"]
	path = hw/ibex_pext
	url = https://github.com/Memmedud/ibex
	branch = pext-experiment
[submodule "hw/vicuna"]
	path = hw/vicuna
	url = https://github.com/vproc/vicuna
	branch = master
[submodule "sw/riscv-arch-test"]
	path = sw/riscv-arch-test
	url = https://github.com/Memmedud/riscv-arch-test
	branch = old-framework-pext
