
# Toolchain
toolchain/riscv*

# Sim
sim/spike/bin/spike
sim/spike/bin/pk_ilp32
sim/spike/bin/pk_ilp32e
sim/verilated/ibex*

# temporary files
*build*
*.o
*.d
*-debug

# SW cmake files
*CMakeFiles
sw/**Makefile
sw/mlperf-tiny/bin
*.elf
*.vmem
*.bin

# Syn stuff
*nangate45
*syn_out*

# Misc
*.DS_Store
*old
